.tracker {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 100p0x;
  margin: auto;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left; /* Align labels and inputs to the left */
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block; /* Make label take the full width */
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #2a9d8f;
  margin: 0 5px;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 50%; /* Full width button */
  margin-top: 20px; /* Add this line to create a 20px gap between the column and the button */
}

button:hover {
  background-color: #21867a;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
