body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0px;
    padding: 20px;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    padding:10px;
  }
  
  select, button {
    display: block;
    margin: 20px auto;
    padding: 20px;
    font-size: 16px;
  }
  
  #workoutPlanDisplay {
    margin-top: 20px;
  }
  
  #workoutPlanDisplay h2 {
    color: #5a5a5a;
  }
  
  #workoutPlanDisplay ul {
    list-style-type: none;
    padding: 0;
  }
  
  #workoutPlanDisplay li {
    margin-bottom: 5px;
  }
  